.footer-container {
    width: 100%;
    height: fit-content;
}

.App-footer {
    margin-top: 3%;
    width: 100%;
    height: fit-content;
    background-color: black;
}

.align-footer {
    text-align: center;
    margin: 0% 25% 0% 25%;
    padding-top: 1%;
}

.trans:hover {
    color: white;
}

@media screen and (max-width: 956px) {
    .trans{
        max-width: unset;
    }
}